<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--学生模块的bean-->
    <bean id="myStudent" class="com.springproject.ba06.Student" autowire="byType">
        <property name="name" value="张三"/>
        <property name="age" value="24"/>
        <!--引用类型的赋值-->
        <!--<property name="school" ref="mySchool"/>-->
    </bean>
</beans>